__MACOSX
node_modules
dist
dist-ssr
vendor
log

.env.testing
.DS_Store
.env
.env.backup
.idea
.fleet
.vscode
.vagrant
.phpintel
.php_cs.cache
.sass-cache
.phpunit.result.cache
.scribe
.phpactor.json
.phpstorm.meta.php
.phpunit.result.cache
.phpunit.cache
*.local

composer.phar
Thumbs.db
bower_components
Homestead.json
Homestead.yaml
npm-debug.log
sftp-config.json
yarn-error.log
npm-debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
bun.lockb

_ide_helper.php
_ide_helper_models.php

dev/ui/*/public/js
dev/ui/*/public/css
dev/ui/*/public/libraries

## auto generate when you run "npm run dev"
public/ui/*
public/ui/*/fonts
public/ui/*/js
public/ui/*/img
public/ui/*/css
public/ui/*/sass
public/ui/*/libraries
public/ui/*/images/
public/ui/*/plugins/
public/themes/*
public/themes/*/fonts
public/themes/*/js
public/themes/*/img
public/themes/*/css
public/themes/*/sass
public/themes/*/libraries
public/docs

public/mix-manifest.json
public/storage
public/build
public/hot
public/app
public/fonts
public/js

## không được push, vì npm run prod sẽ tự động generate ra public/ui/ten-theme
## chú ý, cần publish assets trước khi build, php artisan cms:publish:assets
public/ui/*/

storage/*.key
storage/app/backup
storage/cache_keys.json
storage/.license
storage/fonts
storage/framework
storage/installing
storage/installed
storage/logs
storage
storage/*.jpg
storage/*.png
storage/*.webp
storage/*.ico
storage/*.mp4
storage/leads-import/
storage/framework/*.txt
storage/framework/laravel-excel/
storage/framework/maintenance.php

dev/plugins/*/node_modules
dev/core/*/node_modules

cypress/screenshots
cypress/screenshotscypress
cypress/videos/

docker/nginx/logs/error.log
docker/redis/data/dump.rdb

lang/*
!lang/en

resources/ts/@*/*.js
resources/docs
typed-router.d.ts
auto-imports.d.ts
components.d.ts

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/*.code-snippets
!.vscode/tours
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.yarn
# iconify dist files
resources/ts/plugins/iconify/icons.css
# Ignore MSW script
public/mockServiceWorker.js

pm2.json
laravel-echo-server.json
laravel-echo-server.lock
